.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient {
  background: linear-gradient(180deg,#000703, #312f31 , #34e463,#312f31,#000703 100%);
}

.gradientwhite {
  background: linear-gradient(180deg, #bebbbe , #748479, 100%);
}
.paragradient {
  background: linear-gradient(90deg, #0a0b0a, #312f31 100%);
}
.primaryColor{
 background-color: #0d802b;
}
.primaryColor:hover{
  background-color: #011006;
}
.primaryTextColor{
 color: #f5f9f7;
}

.right-side{
  display: inline-block;
  width: 100%;
  text-align: right;
}
.colorText{
  color: #239e38;
}